<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div class="form-container">
    <form th:action="@{/user/login}" method="post">
        <h1>Login</h1>

        <label for="username">Логин:</label>
        <input type="text" id="username" name="username" required/>

        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required/>

        <button type="submit">Submit</button>
    </form>

    <form method="get" th:action="@{/user/reg}">
        <button th:text="'Зарегистрироваться'"></button>
    </form>

</div>
</body>
</html>