<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reg</title>
</head>
<body>
<form th:action="@{/admin/reg}" th:object="${admin}" method="post" id="registrationForm">
    <h1>Registration</h1>

    <div class="input-group">
        <input type="text" id="username" th:field="*{username}" placeholder="Name" required>
    </div>

    <div class="input-group">
        <input type="text" id="password" th:field="*{password}" placeholder="Surname" required>
    </div>

    <button type="submit">Submit</button>
</form>
</body>
</html>